@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root, #root>div {
  font-family: 'Montserrat';
  color: white;
  margin: 0; /* what fixed margin not fully extending */
  background-color: rgb(29, 29, 27);
  height: 100%;
}

img {
  width: 55px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  background-color: rgb(48, 48, 46);
  height: 5em;
  padding: 0.4em;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}

main {
  /*padding: 30px 30px 10px;*/
  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 8%;
}

form > input {
  border-radius: 6px;
  border: 1px solid rgb(245, 238, 216);
  padding: 9px 13px;
  box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.601);
  flex-grow: 1;
  min-width: 150px;
  max-width: 700px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

form > input::placeholder {
  color: rgb(218, 217, 211);
}

form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #1ED760;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 700;
  height: 2.6em;
  cursor: pointer;
}

form > button:hover {
  background-color:#5ce78c;
}

.wave-container {
  margin-left: 3%;
  margin-top: 12%;
  margin-bottom: 5%;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.playBtn {
  font-size: 5rem;
  background-color: transparent;
  border: 0px solid transparent;
}

.gameBtn {
  font-size: 2.5rem;
  padding: 0.25em;
  font-family: 'Montserrat';
  border-radius: 20px;
  border: 0px solid transparent;
}

.quitter {
  font-family: Inter, sans-serif;
  border-radius: 12px;
  border: none;
  background-color: #1ED760;
  width: 190px;
  font-size: 1.8rem;
  font-weight: 700;
  height: 2.3em;
  cursor: pointer;
}

.reveal {
  font-size: 2rem;
}

.replayBtn {
  font-family: Inter, sans-serif;
  border-radius: 12px;
  border: none;
  background-color: #1ED760;
  width: 190px;
  font-size: 1.3rem;
  font-weight: 700;
  height: 2.3em;
  cursor: pointer;
}